[Desktop Entry]
Name=GNU_ViT
Version=0.1.10
GenericName=GNU_ViT
Comment=GNU_ViT
Exec=/home/[user name]/GNU_ViT/GNU_ViT %F
Icon=/home/[user name]/GNU_ViT/Icon1.png
Categories=video;editor;
Keywords=video;editor;cut;
Terminal=false
Type=Application
Name[en_CA]=GNU_ViT
